@{
    ViewBag.Title = "Contact";
}
<div class="contact-info">
    <h2>Our Contact Information</h2>
    <p><strong>Address:</strong> 123 Hospital Lane, Istanbul, Türkiye</p>
    <p><strong>Phone:</strong> +90 (212) 123-4567</p>
    <p><strong>Email:</strong> contact@kulturhospital.com</p>
</div>


<h2>Send Us a Message</h2>
<form class="contact-form">
    <input type="text" placeholder="Your Name" required>
    <input type="email" placeholder="Your Email" required>
    <textarea placeholder="Your Message" required></textarea>
    <button type="submit">Send Message</button>
</form>

<h2>Find Us Here</h2>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509109!2d144.95592831531635!3d-37.81720997975126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f30c91f%3A0x5045675218cee10!2sHospital!5e0!3m2!1sen!2sus!4v1630543652123!5m2!1sen!2sus" allowfullscreen="" loading="lazy"></iframe>

